input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}
.navbar-default{
    background-color: #3F8ACD;
}
a:hover {
    text-decoration: none;
}

.navbar-default .navbar-brand{
    color:white;
}
.white-glyphicon{
    color:white;
    padding: 20px;
}
.div-website-list{
    position: relative;
    top:20px;
}
.text-color-website-list{
    color: #3F8ACD;
}
#file-upload{
    display: none;
}
.padding-navbar{
    padding-top: 30px;
    padding-bottom: 70px;
}
.glyph-margin{
    float: right;
}
.verticalLine {
    border-right: thin solid dimgrey;
    height: 1000px;
}
.img-upload-button{
    position: relative;
    top: 34px;
    left: -51px;
    height: 33px;
    width:100px;
}
.wrapper .glyphicon {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: white;
}
.widget-container {
    position: relative;
}
.widget-tag {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    padding: 5px;
    background-color: white;
}
.iframe-div{
    width:100%;
    height:400px;
    frameborder:0px;
    allowfullscreen:none;
}
.navbar-text-decor{
    position: absolute;
    color: white;
    font-size: 18px;
    padding: 15px;
}
.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}