input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.navbar-default{
background-color: #3F8ACD;
}
.navbar-default .navbar-brand{
    color:white;
}
.white-glyphicon{
    color:white;
}
.div-website-list{
    position: relative;
    top:20px;
}
.text-color-website-list{
    color: #3F8ACD;
}
#file-upload{
    display: none;
}
.padding-navbar{
    padding-top: 60px;
}