<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="" href="../website/website-list.view.client.html"><span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#">
                Pages
            </a>
            <a href="page-new.view.client.html" class="">
              <span class="glyphicon glyphicon-plus white-glyphicon pull-right">
              </span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid padding-navbar">
    <div class="div-website-list text-color-website-list">
        <div>
            <a href="page-edit.view.client.html" class="navbar-link">
               <span class="glyphicon glyphicon-cog pull-right">
               </span></a>
            <a href="../widget/widget-list.view.client.html"><p>Blog Posts</p></a>
        </div>
        <div>
            <a href="page-edit.view.client.html" class="navbar-link">
           <span class="glyphicon glyphicon-cog pull-right">
          </span></a>
            <a href="../widget/widget-list.view.client.html"><p>Blog</p></a>
        </div>
        <div>
            <a href="page-edit.view.client.html" class="navbar-link">
           <span class="glyphicon glyphicon-cog pull-right">
          </span></a>
            <a href="../widget/widget-list.view.client.html"><p>Home</p></a>
        </div>
        <div>
            <a href="page-edit.view.client.html" class="navbar-link">
           <span class="glyphicon glyphicon-cog pull-right">
           </span></a>
            <a href="../widget/widget-list.view.client.html"><p>About</p></a>
        </div>
        <div>
            <a href="page-edit.view.client.html" class="navbar-link">
           <span class="glyphicon glyphicon-cog pull-right">
           </span></a>
            <a href="../widget/widget-list.view.client.html"><p>Contact Us</p></a>
        </div>
        <div>
            <a href="page-edit.view.client.html" class="navbar-link" ng-repeat="page in model.pages">
           <span class="glyphicon glyphicon-cog pull-right">
           </span></a>
            <a href="../widget/widget-list.view.client.html"><p>{{page.name}}</p></a>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>