<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                Pages
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="">
              <span class="glyphicon glyphicon-plus white-glyphicon pull-right">
              </span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid padding-navbar">
    <div class="div-website-list text-color-website-list">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <p class="pull-right"><a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right"></span></a></p>
                <p><a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a></p>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>