<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left white-glyphicon ">
                </span>
            </a>
            <a  href="#">
                <span class="navbar-text-decor">Widgets</span>
            </a>
            <a ng-click="model.updateWidget(model.widget)" class="">
                      <span class="glyphicon glyphicon-ok white-glyphicon pull-right">
                      </span>
            </a>
        </div>
    </div>
</nav>
<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/widget-heading.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget-image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/widget-youtube.view.client.html'"></ng-include>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <span class="glyphicon glyphicon-play white-glyphicon pull-left"></span>
            <span class="glyphicon glyphicon-eye-open white-glyphicon pull-left"></span>
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>