<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid padding-navbar">
    <div class="container-fluid padding-navbar">
        <div class="div-website-list text-color-website-list">
            <div>
                <a ng-click="model.createNewWidget({'widgetType' : 'HEADER'})"><p>Header</p></a>
            </div>
            <div>
                <a ng-click="model.createNewWidget({'widgetType' : 'IMAGE'})"><p>Image</p></a>
            </div>
            <div>
                <a ng-click="model.createNewWidget({'widgetType' : 'YOUTUBE'})"><p>YouTube</p></a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>